<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">


                  <!--   this is our bean calss-->
                  
    <bean class="com.springcore.Student" name="Student1">
    <!--  using p schema  -->
    
   <!--    <bean class="com.springcore.Student" name="Student1" p:studentid="12">  -->
    
      <!--   setter injection-->
      
        <property name="studentid" value="12">
        <!--<value>12</value> -->
        </property>
        
        <property name="StudentName" value="gufraniaba">
        <!-- "tauheed aiba"</value>-->
        </property>
        
        <property name="StudentAddress" value="mankapur">
       <!--<value>"sakinaka"</value>-->
        </property>
       
        
    </bean>
    
    <!-- second bean -->
      <bean class="com.springcore.Student" name="Student2">
    
    
      <!--   setter injection-->
      
        <property name="studentid" value="14">
        <!--<value>12</value> -->
        </property>
        
        <property name="StudentName" value="wahseemaiba">
        <!-- "tauheed aiba"</value>-->
        </property>
        
        <property name="StudentAddress" value="gorakphur">
       <!--<value>"sakinaka"</value>-->
        </property>
       
        
    </bean>
    

</beans>

